<ul class="navbar-nav iq-nav-menu list-unstyled {{ responsiveList ? 'd-none d-xl-flex' : ''}}">
  <li class="nav-item " [routerLinkActive]="'active'"><a class="nav-link" [routerLink]="['/index-horizontal']" [routerLinkActive]="'active'"> Horizontal</a></li>
  <li class="nav-item" [routerLinkActive]="'active'"><a class="nav-link" [routerLink]="['/dual-compact']" [routerLinkActive]="'active'"><span class="item-name">Dual Compact</span></a></li>
  <li class="nav-item" [routerLinkActive]="'active'"><a class="nav-link" [routerLink]="['/index-boxed']" [routerLinkActive]="'active'"> Boxed Horizontal </a></li>
</ul>
