<!-- <section class="login-content overflow-hidden">
    <div class="row m-0 align-items-center bg-white vh-100">            
       <div class="col-md-12 col-lg-6"> 
           <a [routerLink]="['/dashboard']" class="navbar-brand d-flex align-items-center mb-5 justify-content-center text-primary">
                <iq-brand-logo></iq-brand-logo>                <h4 class="logo-title ms-3 mb-0" data-setting="app_name">Qompac Ui</h4>
               </a> 
             <div class="row justify-content-center pt-5">
                <div class="col-md-8">
                    <div class="card  d-flex justify-content-center mb-0 card-transparent shadow-none maintenance-card">
                      <div class="card-body">
                            <h1 class="mb-2 text-center">Coming Soon</h1>
                               <ul class="countdown d-flex  align-items-center list-inline justify-content-center"
                                 data-date="Sep 30 2023 20:20:22">
                                 <li>
                                   <span data-days>0</span>Days
                                 </li>
                                 <li>
                                   <span data-hours>0</span>Hours
                                 </li>
                                 <li>
                                   <span data-minutes>0</span>Minutes
                                 </li>
                                 <li>
                                   <span data-seconds>0</span>Seconds
                                 </li>
                               </ul>
                      </div>
                   </div>
                </div>
             </div>   
         
       </div>
       <div class="col-lg-6 d-lg-block d-none bg-primary p-0  overflow-hidden">
          <img src="assets/images/auth/01.png" class="img-fluid gradient-main" alt="images" loading="lazy" >
       </div>
    </div>
 </section> -->
 <div class="error-bg vh-100 bg-primary" style="background-image: url(assets/images/error/05.png); background-repeat: no-repeat; background-size: cover;">
  <div class="container">
    <div class="row align-items-center align-self-center vh-100">
      <div class="col-lg-7 md-lg-0">
        <img src="assets/images/error/08.png" class="img-fluid">
      </div>
        <div class="col-lg-5 text-end">
            <h2 class="mb-0 mt-4 text-white">Hang on! We are under maintenance </h2>
            <p class="mt-2 mb-4 text-white">It will not take a long time till we get the error fiked. We wii live again in</p>
            <a class=" d-inline-flex align-items-center btn btn-outline-light" [routerLink]="['/dashboard']">Back to Home</a>
        </div>
    </div>
  </div>   
</div>