
<div class="d-flex justify-content-between align-items-center flex-wrap mb-5 gap-3">
  <div class="d-flex flex-column">
    <h3>Tableau de bord</h3>
    <p class="mb-0">Plateforme RSE</p>
  </div>
  <div class="d-flex justify-content-between align-items-center rounded flex-wrap gap-3">
    <div class="form-group mb-0">
          <select class="select2-basic-single js-states form-control" name="state" style="width: 100%;">
              <option >Past 30 Days</option>
              <option >Past 60 Days</option>
              <option >Past 90 Days</option>
              <option >Past 1 year</option>
              <option >Past 2 year</option>
          </select>
      </div>
      <div class="form-group mb-0">
        <ng2-flatpickr placeholder="24 Jan 2022 to 23 Feb 2022" [config]="dateRangeOptions"
        addClass="form-control range_flatpicker flatpickr-input active"></ng2-flatpickr>
      </div>
      <button type="button" class="btn btn-primary">Analytics</button> -->
  </div>
</div>


<div class="row">
  <div class="row">
    <div class="col-lg-3 col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="text-center">Projets</div>
          <div class="d-flex align-items-center justify-content-between mt-3">
            <div>
              <h2 class="counter" [countUp]="4" [options]="{ enableScrollSpy: true }">0</h2>
              <!-- 26.84% -->
            </div>
            <div class="border  bg-soft-danger rounded p-3">
              <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 10l7-7m0 0l7 7m-7-7v18" />
              </svg>
            </div>
          </div>
          <div class="mt-4">
            <ngb-progressbar type="danger" class="bg-soft-danger shadow-none w-100" [value]="30"
              style="height: 6px"></ngb-progressbar>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="text-center">Actions</div>
          <div class="d-flex align-items-center justify-content-between mt-3">
            <div>
              <h2 class="counter" [countUp]="20" [options]="{ enableScrollSpy: true }">0</h2>
              <!-- 26.84% -->
            </div>
            <div class="border bg-soft-info rounded p-3">
              <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 10l7-7m0 0l7 7m-7-7v18" />
              </svg>
            </div>
          </div>
          <div class="mt-4">
            <ngb-progressbar type="info" class="bg-soft-info shadow-none w-100" [value]="40"
              style="height: 6px"></ngb-progressbar>

          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="text-center">Achat Responsable</div>
          <div class="d-flex align-items-center justify-content-between mt-3">
            <div>
              <h2 class="counter" [countUp]="30" [options]="{ enableScrollSpy: true }">0</h2>
              <!-- 26.84% -->
            </div>
            <div class="border bg-soft-success rounded p-3">
              <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 10l7-7m0 0l7 7m-7-7v18" />
              </svg>
            </div>
          </div>
          <div class="mt-4">
            <ngb-progressbar type="success" class="bg-soft-success shadow-none w-100" [value]="50"
              style="height: 6px"></ngb-progressbar>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="text-center">Utilisateurs</div>
          <div class="d-flex align-items-center justify-content-between mt-3">
            <div>
              <h2 class="counter" [countUp]="950" [options]="{ enableScrollSpy: true }">0</h2>
              <!-- 26.84% -->
            </div>
            <div class="border  bg-soft-primary rounded p-3">
              <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 10l7-7m0 0l7 7m-7-7v18" />
              </svg>
            </div>
          </div>
          <div class="mt-4">
            <ngb-progressbar type="primary" class="bg-soft-primary shadow-none w-100" [value]="30"
              style="height: 6px"></ngb-progressbar>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
       <div class="card bg-soft-info">
          <div class="card-body">
             <div class="d-flex justify-content-between align-items-center">
                <div class="bg-soft-info rounded p-3">
                   <svg class="icon-20" width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M11.997 15.1746C7.684 15.1746 4 15.8546 4 18.5746C4 21.2956 7.661 21.9996 11.997 21.9996C16.31 21.9996 19.994 21.3206 19.994 18.5996C19.994 15.8786 16.334 15.1746 11.997 15.1746Z" fill="currentColor"></path>
                      <path opacity="0.4" d="M11.9971 12.5838C14.9351 12.5838 17.2891 10.2288 17.2891 7.29176C17.2891 4.35476 14.9351 1.99976 11.9971 1.99976C9.06008 1.99976 6.70508 4.35476 6.70508 7.29176C6.70508 10.2288 9.06008 12.5838 11.9971 12.5838Z" fill="currentColor"></path>
                   </svg>
                </div>



                <div class="text-end">
                  <h2 class="counter" [countUp]="5600" [options]="{ enableScrollSpy: true }">0</h2>
                   Doctors
                </div>
             </div>
          </div>
       </div>
    </div>
    <div class="col-lg-3 col-md-6">
       <div class="card bg-soft-warning">
          <div class="card-body">
             <div class="d-flex justify-content-between align-items-center">
                <div class="bg-soft-warning rounded p-3">
                   <svg class="icon-20" width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M11.997 15.1746C7.684 15.1746 4 15.8546 4 18.5746C4 21.2956 7.661 21.9996 11.997 21.9996C16.31 21.9996 19.994 21.3206 19.994 18.5996C19.994 15.8786 16.334 15.1746 11.997 15.1746Z" fill="currentColor"></path>
                      <path opacity="0.4" d="M11.9971 12.5838C14.9351 12.5838 17.2891 10.2288 17.2891 7.29176C17.2891 4.35476 14.9351 1.99976 11.9971 1.99976C9.06008 1.99976 6.70508 4.35476 6.70508 7.29176C6.70508 10.2288 9.06008 12.5838 11.9971 12.5838Z" fill="currentColor"></path>
                   </svg>
                </div>
                <div class="text-end">
                  <h2 class="counter" [countUp]="5600" [options]="{ enableScrollSpy: true }">0</h2>
                   Nurses
                </div>
             </div>
          </div>
       </div>
    </div>
    <div class="col-lg-3 col-md-6">
       <div class="card bg-soft-danger">
          <div class="card-body">
             <div class="d-flex justify-content-between align-items-center">
                <div class="bg-soft-danger rounded p-3">
                   <svg class="icon-20" width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M9.34933 14.8577C5.38553 14.8577 2 15.47 2 17.9173C2 20.3665 5.364 20.9999 9.34933 20.9999C13.3131 20.9999 16.6987 20.3876 16.6987 17.9403C16.6987 15.4911 13.3347 14.8577 9.34933 14.8577Z" fill="currentColor"></path>
                      <path opacity="0.4" d="M9.34935 12.5248C12.049 12.5248 14.2124 10.4062 14.2124 7.76241C14.2124 5.11865 12.049 3 9.34935 3C6.65072 3 4.48633 5.11865 4.48633 7.76241C4.48633 10.4062 6.65072 12.5248 9.34935 12.5248Z" fill="currentColor"></path>
                      <path opacity="0.4" d="M16.1733 7.84873C16.1733 9.19505 15.7604 10.4513 15.0363 11.4948C14.961 11.6021 15.0275 11.7468 15.1586 11.7698C15.3406 11.7995 15.5275 11.8177 15.7183 11.8216C17.6165 11.8704 19.3201 10.6736 19.7907 8.87116C20.4884 6.19674 18.4414 3.79541 15.8338 3.79541C15.551 3.79541 15.2799 3.82416 15.0157 3.87686C14.9795 3.88453 14.9404 3.90177 14.9208 3.93244C14.8954 3.97172 14.914 4.02251 14.9394 4.05605C15.7232 5.13214 16.1733 6.44205 16.1733 7.84873Z" fill="currentColor"></path>
                      <path d="M21.779 15.1693C21.4316 14.4439 20.593 13.9465 19.3171 13.7022C18.7153 13.5585 17.0852 13.3544 15.5695 13.3831C15.547 13.386 15.5343 13.4013 15.5324 13.4109C15.5294 13.4262 15.5363 13.4492 15.5656 13.4655C16.2662 13.8047 18.9737 15.2804 18.6332 18.3927C18.6185 18.5288 18.729 18.6438 18.867 18.6246C19.5333 18.5317 21.2476 18.1704 21.779 17.0474C22.0735 16.4533 22.0735 15.7634 21.779 15.1693Z" fill="currentColor"></path>
                   </svg>
                </div>
                <div class="text-end">
                  <h2 class="counter" [countUp]="5600" [options]="{ enableScrollSpy: true }">0</h2>
                   Patients
                </div>
             </div>
          </div>
       </div>
    </div>
    <div class="col-lg-3 col-md-6">
       <div class="card bg-soft-primary">
          <div class="card-body">
             <div class="d-flex justify-content-between align-items-center">
                <div class="bg-soft-primary rounded p-3">
                   <svg class="icon-20" width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M11.997 15.1746C7.684 15.1746 4 15.8546 4 18.5746C4 21.2956 7.661 21.9996 11.997 21.9996C16.31 21.9996 19.994 21.3206 19.994 18.5996C19.994 15.8786 16.334 15.1746 11.997 15.1746Z" fill="currentColor"></path>
                      <path opacity="0.4" d="M11.9971 12.5838C14.9351 12.5838 17.2891 10.2288 17.2891 7.29176C17.2891 4.35476 14.9351 1.99976 11.9971 1.99976C9.06008 1.99976 6.70508 4.35476 6.70508 7.29176C6.70508 10.2288 9.06008 12.5838 11.9971 12.5838Z" fill="currentColor"></path>
                   </svg>
                </div>
                <div class="text-end">
                  <h2 class="counter" [countUp]="5600" [options]="{ enableScrollSpy: true }">0</h2>
                   Pharmacists
                </div>
             </div>
          </div>
       </div>
    </div> -->
  </div>

  <div class="row">
    <div class="col-sm-12 col-lg-12">
      <div class="card">
         <div class="card-header d-flex justify-content-between">
            <div class="header-title">
               <h4 class="card-title">Plateforme RSE</h4>
            </div>
         </div>
         <div class="card-body">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
               <ol class="carousel-indicators">
                  <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
                  <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
                  <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
               </ol>
               <ngb-carousel>
                  <ng-template ngbSlide>
                     <div class="picsum-img-wrapper">
                        <img src="assets/images/page-img/1.jpg" class="d-block w-100" alt="#">
                     </div>
                  </ng-template>
                  <ng-template ngbSlide>
                     <div class="picsum-img-wrapper">
                        <img src="assets/images/page-img/2.jpg" class="d-block w-100" alt="#">
                     </div>
                  </ng-template>
                  <ng-template ngbSlide>
                     <div class="picsum-img-wrapper">
                        <img src="assets/images/page-img/3.jpg" class="d-block w-100" alt="#">
                     </div>
                  </ng-template>
                  
                   <div class="carousel-item">
                     <img src="assets/images/page-img/img-1.jpg" class="d-block w-100" alt="#">
                  </div>
                  <div class="carousel-item">
                     <img src="assets/images/page-img/img-1.jpg" class="d-block w-100" alt="#">
                  </div> 
               </ngb-carousel>
               <a class="carousel-control-prev"  role="button" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
               </a>
               <a class="carousel-control-next"  role="button" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
               </a> 
            </div>
         </div>
      </div>
   </div>
  </div>
  
</div>
 <div class="row">
  <div class="col-lg-8 col-xl-8">
      <div class="row">
          <div class="col-lg-12">
              <div class="card card-block card-stretch card-height">
                <div class="flex-wrap card-header d-flex justify-content-between">
                  <div class="header-title">
                    <h4>Sales Stastics</h4>
                  </div>
                  <div class="d-flex">
                    <div class="me-3">
                        <p class="mb-0"><svg class="text-primary" width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="5" cy="5" r="5" fill="currentColor"></circle>
                            </svg>  Total Sales </p>
                    </div>
                    <div class="me-3">
                        <p class="mb-0"><svg class="text-secondary" width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="5" cy="5" r="5" fill="currentColor"></circle>
                            </svg> Total Expense</p>
                    </div>
                    <div class="">
                        <p class="mb-0"><svg class="text-tertiray" width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="5" cy="5" r="5" fill="currentColor"></circle>
                            </svg>  Total Profit</p>
                    </div>
                </div>
                </div>
                  <div class="card-body">
                    <div id="sales-chart-02" class="sales-chart-02">
                      <apx-chart *ngIf="chartShow" id="salesChart2" [series]="salesChart2.series" [chart]="salesChart2.chart"
                        [xaxis]="salesChart2.xaxis" [yaxis]="salesChart2.yaxis" [legend]="salesChart2.legend"
                        [dataLabels]="salesChart2.dataLabels" [grid]="salesChart2.grid" [stroke]="salesChart2.stroke"
                        [title]="salesChart2.title" [colors]="salesChart2.colors" [plotOptions]="salesChart2.plotOptions"
                        [responsive]="salesChart2.responsive" [markers]="salesChart2.markers"></apx-chart>
                        
                    </div>
                  </div>
              </div> 
          </div>
      </div>
  </div>
  <div class="col-lg-4">
      <div class="card card-block card-stretch card-height">
          <div class="card-header">
              <div class="header-title">
                  <h4 class=" card-title">Date</h4>
              </div>
          </div>
          <div class="card-body">
              <div class="course-picker">
                <ng2-flatpickr [config]="flatpickrdateOptions" addClass="form-control minimum_flatpicker active d-none">
                </ng2-flatpickr>
              </div>
          </div>
      </div>
  </div>
  <div class="col-lg-4">
    <div class="card card-block card-stretch card-height">
      <div class="card-body">
          <div class="mb-5">
              <div class="mb-2 d-flex justify-content-between align-items-center">
                  <span class="text-dark">Last Transaction</span>
                  <a class="badge rounded-pill bg-soft-primary" href="javascript:void(0);">
                      View Report
                  </a>
              </div>
              <div class="">
                  <h2 class="counter mb-2" style="visibility: visible;">$46,996</h2>
                  <p>This Month</p>
              </div>
          </div>
          <div>
              <div class="d-flex gap flex-column">
              <div class="d-flex align-items-center gap-3">
                  <div class="bg-soft-primary avatar-60 rounded">
                      <svg class="icon-35" width="35" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M21.9964 8.37513H17.7618C15.7911 8.37859 14.1947 9.93514 14.1911 11.8566C14.1884 13.7823 15.7867 15.3458 17.7618 15.3484H22V15.6543C22 19.0136 19.9636 21 16.5173 21H7.48356C4.03644 21 2 19.0136 2 15.6543V8.33786C2 4.97862 4.03644 3 7.48356 3H16.5138C19.96 3 21.9964 4.97862 21.9964 8.33786V8.37513ZM6.73956 8.36733H12.3796H12.3831H12.3902C12.8124 8.36559 13.1538 8.03019 13.152 7.61765C13.1502 7.20598 12.8053 6.87318 12.3831 6.87491H6.73956C6.32 6.87664 5.97956 7.20858 5.97778 7.61852C5.976 8.03019 6.31733 8.36559 6.73956 8.36733Z" fill="currentColor"></path>
                          <path opacity="0.4" d="M16.0374 12.2966C16.2465 13.2478 17.0805 13.917 18.0326 13.8996H21.2825C21.6787 13.8996 22 13.5715 22 13.166V10.6344C21.9991 10.2297 21.6787 9.90077 21.2825 9.8999H17.9561C16.8731 9.90338 15.9983 10.8024 16 11.9102C16 12.0398 16.0128 12.1695 16.0374 12.2966Z" fill="currentColor"></path>
                          <circle cx="18" cy="11.8999" r="1" fill="currentColor"></circle>
                      </svg>
                  </div>
                  <div style="width: 100%;">
                      <div class="d-flex justify-content-between  ">
                          <h6 class="mb-2">Balance</h6>
                          <h6 class="text-body">$2,386</h6>
                      </div>
                      <div class="progress bg-soft-primary shadow-none w-100" style="height: 6px">
                          <div class="progress-bar bg-primary" data-toggle="progress-bar" role="progressbar" aria-valuenow="23" aria-valuemin="0" aria-valuemax="100" style="width: 23%;transition: width 2s ease 0s;"></div>
                      </div>
                  </div> 
              </div>
              <div class="d-flex align-items-center gap-3">
                  <div class="bg-soft-info avatar-60 rounded">                            
                          <svg class="icon-35" width="35" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path opacity="0.4" d="M6.447 22C3.996 22 2 19.9698 2 17.4755V12.5144C2 10.0252 3.99 8 6.437 8L17.553 8C20.005 8 22 10.0302 22 12.5256V17.4846C22 19.9748 20.01 22 17.563 22H16.623H6.447Z" fill="currentColor"></path>
                          <path d="M11.455 2.22103L8.54604 5.06682C8.24604 5.36094 8.24604 5.83427 8.54804 6.12742C8.85004 6.41959 9.33704 6.41862 9.63704 6.12547L11.23 4.56623V6.06119V14.4515C11.23 14.8654 11.575 15.2014 12 15.2014C12.426 15.2014 12.77 14.8654 12.77 14.4515V4.56623L14.363 6.12547C14.663 6.41862 15.15 6.41959 15.452 6.12742C15.603 5.98036 15.679 5.78849 15.679 5.59566C15.679 5.40477 15.603 5.21291 15.454 5.06682L12.546 2.22103C12.401 2.07981 12.205 1.99995 12 1.99995C11.796 1.99995 11.6 2.07981 11.455 2.22103Z" fill="currentColor"></path>
                          </svg>                            
                  </div>
                  <div style="width: 100%;">
                      <div class="d-flex justify-content-between  ">
                          <h6 class="mb-2">Transfer</h6>
                          <h6 class="text-body">$4,765</h6>
                      </div>
                      <div class="progress bg-soft-info shadow-none w-100" style="height: 6px">
                          <div class="progress-bar bg-info" data-toggle="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 40%;transition: width 2s ease 0s;"></div>
                      </div>
                  </div> 
              </div><div class="d-flex align-items-center gap-3">
                  <div class="bg-soft-success avatar-60 rounded">     
                      <svg class="icon-35" width="35" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path opacity="0.4" d="M17.554 7.29614C20.005 7.29614 22 9.35594 22 11.8876V16.9199C22 19.4453 20.01 21.5 17.564 21.5L6.448 21.5C3.996 21.5 2 19.4412 2 16.9096V11.8773C2 9.35181 3.991 7.29614 6.438 7.29614H7.378L17.554 7.29614Z" fill="currentColor"></path>
                          <path d="M12.5464 16.0374L15.4554 13.0695C15.7554 12.7627 15.7554 12.2691 15.4534 11.9634C15.1514 11.6587 14.6644 11.6597 14.3644 11.9654L12.7714 13.5905L12.7714 3.2821C12.7714 2.85042 12.4264 2.5 12.0004 2.5C11.5754 2.5 11.2314 2.85042 11.2314 3.2821L11.2314 13.5905L9.63742 11.9654C9.33742 11.6597 8.85043 11.6587 8.54843 11.9634C8.39743 12.1168 8.32142 12.3168 8.32142 12.518C8.32142 12.717 8.39743 12.9171 8.54643 13.0695L11.4554 16.0374C11.6004 16.1847 11.7964 16.268 12.0004 16.268C12.2054 16.268 12.4014 16.1847 12.5464 16.0374Z" fill="currentColor"></path>
                      </svg>
                  </div>
                  <div style="width: 100%;">
                      <div class="d-flex justify-content-between  ">
                          <h6 class="mb-2">Recived</h6>
                          <h6 class="text-body">$8,224</h6>
                      </div>
                      <div class="progress bg-soft-success shadow-none w-100" style="height: 6px">
                          <div class="progress-bar bg-success" data-toggle="progress-bar" role="progressbar" aria-valuenow="82" aria-valuemin="0" aria-valuemax="100" style="width: 82%;transition: width 2s ease 0s;"></div>
                      </div>
                  </div>
              </div>
          <div class="d-flex align-items-center gap-3">
                  <div class="bg-soft-danger avatar-60 rounded">     
                      <svg class="icon-35" width="35" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M21.9964 8.37513H17.7618C15.7911 8.37859 14.1947 9.93514 14.1911 11.8566C14.1884 13.7823 15.7867 15.3458 17.7618 15.3484H22V15.6543C22 19.0136 19.9636 21 16.5173 21H7.48356C4.03644 21 2 19.0136 2 15.6543V8.33786C2 4.97862 4.03644 3 7.48356 3H16.5138C19.96 3 21.9964 4.97862 21.9964 8.33786V8.37513ZM6.73956 8.36733H12.3796H12.3831H12.3902C12.8124 8.36559 13.1538 8.03019 13.152 7.61765C13.1502 7.20598 12.8053 6.87318 12.3831 6.87491H6.73956C6.32 6.87664 5.97956 7.20858 5.97778 7.61852C5.976 8.03019 6.31733 8.36559 6.73956 8.36733Z" fill="currentColor"></path>
                          <path opacity="0.4" d="M16.0374 12.2966C16.2465 13.2478 17.0805 13.917 18.0326 13.8996H21.2825C21.6787 13.8996 22 13.5715 22 13.166V10.6344C21.9991 10.2297 21.6787 9.90077 21.2825 9.8999H17.9561C16.8731 9.90338 15.9983 10.8024 16 11.9102C16 12.0398 16.0128 12.1695 16.0374 12.2966Z" fill="currentColor"></path>
                          <circle cx="18" cy="11.8999" r="1" fill="currentColor"></circle>
                      </svg>
                  </div>
                  <div style="width: 100%;">
                      <div class="d-flex justify-content-between  ">
                          <h6 class="mb-2">Outstanding</h6>
                          <h6 class="text-body">$1,224</h6>
                      </div>
                      <div class="progress bg-soft-danger shadow-none w-100" style="height: 6px">
                          <div class="progress-bar bg-danger" data-toggle="progress-bar" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width: 10%;transition: width 2s ease 0s;"></div>
                      </div>
                  </div>
              </div></div>
          </div>
      </div>
      
  </div>
      </div>
      <div class="col-lg-8">
        <div class="card card-block card-stretch card-height">
          <div class="flex-wrap card-header d-flex justify-content-between border-0">
              <div class="header-title">
                  <h4 class=" card-title">Sales Order</h4>           
              </div>
              <div class="dropdown" ngbDropdown>
                  <span class="dropdown-toggle" ngbDropdownToggle id="dropdownMenuButton7" data-bs-toggle="dropdown" aria-expanded="false" role="button"> Monthly
                  </span>
                  <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu aria-labelledby="dropdownMenuButton7">
                  <a class="dropdown-item " href="javascript:void(0);">This Week</a>
                  <a class="dropdown-item " href="javascript:void(0);">This Month</a>
                  <a class="dropdown-item " href="javascript:void(0);">This Year</a>
                  </div>
              </div>
          </div>
          <div class="card-body pt-0">
              <div class=" table-responsive border rounded">
                  <table id="basic-table" class="table mb-0 table-striped" role="grid">
                  <thead>
                      <tr>
                          <th>COMPANIES</th>
                          <th>CONTACTS</th>
                          <th>ORDER</th>
                          <th>COMPLETION</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td>
                              <div class="d-flex align-items-center">
                              <img class="rounded bg-soft-primary img-fluid avatar-40 me-3" src="assets/images/shapes/01.png" alt="profile">
                              <h6>Addidis Sportwear</h6>
                              </div>
                          </td>
                          <td>
                              <div class="iq-media-group iq-media-group-1">
                              <a href="#" class="iq-media-1">
                                  <div class="icon iq-icon-box-3 rounded-pill">SP</div>
                              </a>
                              <a href="#" class="iq-media-1">
                                  <div class="icon iq-icon-box-3 rounded-pill">PP</div>
                              </a>
                              <a href="#" class="iq-media-1">
                                  <div class="icon iq-icon-box-3 rounded-pill">MM</div>
                              </a>
                              </div>
                          </td>
                          <td>$14,000</td>
                          <td>
                              <div class="mb-2 d-flex align-items-center">
                              <h6>60%</h6>
                              </div>
                                <ngb-progressbar type="green" class="shadow-none progress bg-soft-primary w-100" [value]="60" style="height: 4px"></ngb-progressbar>
                          </td>
                      </tr>
                      <tr>
                          <td>
                              <div class="d-flex align-items-center">
                              <img class="rounded bg-soft-primary img-fluid avatar-40 me-3" src="assets/images/shapes/05.png" alt="profile">
                              <h6>Netflixer Platforms</h6>
                              </div>
                          </td>
                          <td>
                              <div class="iq-media-group iq-media-group-1">
                              <a href="#" class="iq-media-1">
                                  <div class="icon iq-icon-box-3 rounded-pill">SP</div>
                              </a>
                              <a href="#" class="iq-media-1">
                                  <div class="icon iq-icon-box-3 rounded-pill">PP</div>
                              </a>
                              </div>
                          </td>
                          <td>$30,000</td>
                          <td>
                              <div class="mb-2 d-flex align-items-center">
                              <h6>25%</h6>
                              </div>
                                <ngb-progressbar type="green" class="shadow-none progress bg-soft-primary w-100" [value]="25" style="height: 4px"></ngb-progressbar>
                          </td>
                      </tr>
                      <tr>
                          <td>
                              <div class="d-flex align-items-center">
                              <img class="rounded bg-soft-primary img-fluid avatar-40 me-3" src="assets/images/shapes/02.png" alt="profile">
                              <h6>Shopifi Stores</h6>
                              </div>
                          </td>
                          <td>                                 
                              <div class="iq-media-group iq-media-group-1">
                              <a href="#" class="iq-media-1">
                                  <div class="icon iq-icon-box-3 rounded-pill">PP</div>
                              </a>
                              <a href="#" class="iq-media-1">
                                  <div class="icon iq-icon-box-3 rounded-pill">TP</div>
                              </a>
                              </div>
                          </td>
                          <td>$8,500</td>
                          <td>
                              <div class="mb-2 d-flex align-items-center">
                              <h6>100%</h6>
                              </div>
                                <ngb-progressbar type="success" class="shadow-none progress bg-soft-success w-100" [value]="100" style="height: 4px"></ngb-progressbar>
                          </td>
                      </tr>
                      <tr>
                          <td>
                              <div class="d-flex align-items-center">
                              <img class="rounded bg-soft-primary img-fluid avatar-40 me-3" src="assets/images/shapes/03.png" alt="profile">
                              <h6>Bootstrap Technologies</h6>
                              </div>
                          </td>
                          <td>
                              <div class="iq-media-group iq-media-group-1">
                              <a href="#" class="iq-media-1">
                                  <div class="icon iq-icon-box-3 rounded-pill">SP</div>
                              </a>
                              <a href="#" class="iq-media-1">
                                  <div class="icon iq-icon-box-3 rounded-pill">PP</div>
                              </a>
                              <a href="#" class="iq-media-1">
                                  <div class="icon iq-icon-box-3 rounded-pill">MM</div>
                              </a>
                              <a href="#" class="iq-media-1">
                                  <div class="icon iq-icon-box-3 rounded-pill">TP</div>
                              </a>
                              </div>
                          </td>
                          <td>$20,500</td>
                          <td>
                              <div class="mb-2 d-flex align-items-center">
                              <h6>100%</h6>
                              </div>
                                <ngb-progressbar type="success" class="shadow-none progress bg-soft-success w-100" [value]="100" style="height: 4px"></ngb-progressbar>
                          </td>
                      </tr>
                      <tr>
                          <td>
                              <div class="d-flex align-items-center">
                              <img class="rounded bg-soft-primary img-fluid avatar-40 me-3" src="assets/images/shapes/04.png" alt="profile">
                              <h6>Community First</h6>
                              </div>
                          </td>
                          <td>
                              <div class="iq-media-group iq-media-group-1">
                              <a href="#" class="iq-media-1">
                                  <div class="icon iq-icon-box-3 rounded-pill">MM</div>
                              </a>
                              </div>
                          </td>
                          <td>$9,800</td>
                          <td>
                              <div class="mb-2 d-flex align-items-center">
                              <h6>75%</h6>
                              </div>
                                <ngb-progressbar type="green" class="shadow-none progress bg-soft-primary w-100" [value]="75" style="height: 4px"></ngb-progressbar>
                          </td>
                      </tr>
                  </tbody>
                  </table>
              </div>
          </div>
      </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card card-block card-stretch card-height">
          <div class="flex-wrap card-header d-flex justify-content-between">
            <div class="header-title">
              <h4>Sales Anylsis</h4>
            </div>
            <div class="dropdown" ngbDropdown>
              <a ngbDropdownToggle class="text-gray dropdown-toggle" id="dropdownMenuButton29" data-bs-toggle="dropdown"
                aria-expanded="false">All Tasks</a>
              <ul class="dropdown-menu dropdown-menu-end" ngbDropdownMenu aria-labelledby="dropdownMenuButton29">
                <li><a class="dropdown-item" href="#">This Week</a></li>
                <li><a class="dropdown-item" href="#">This Month</a></li>
                <li><a class="dropdown-item" href="#">This Year</a></li>
              </ul>
            </div>
          </div>
          <div class="card-body">
            <div id="sales-chart-04" class="sales-chart-04">
              <apx-chart *ngIf="chartShow" id="salesChart4" [series]="salesChart4.series" [chart]="salesChart4.chart"
                    [xaxis]="salesChart4.xaxis" [yaxis]="salesChart4.yaxis" [legend]="salesChart4.legend"
                    [dataLabels]="salesChart4.dataLabels" [grid]="salesChart4.grid" [stroke]="salesChart4.stroke"
                    [title]="salesChart4.title" [colors]="salesChart4.colors" [plotOptions]="salesChart4.plotOptions"
                    [responsive]="salesChart4.responsive" [labels]="salesChart4.labels" ></apx-chart>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card card-block card-stretch card-height">
          <div class="flex-wrap card-header d-flex justify-content-between">
            <div class="header-title">
              <h4>To-Do List</h4>
            </div>
            <div class="dropdown" ngbDropdown>
              <a ngbDropdownToggle class="text-gray dropdown-toggle" id="dropdownMenuButton24" data-bs-toggle="dropdown"
                aria-expanded="false">All Tasks</a>
              <ul class="dropdown-menu dropdown-menu-end" ngbDropdownMenu aria-labelledby="dropdownMenuButton24">
                <li><a class="dropdown-item" href="#">This Week</a></li>
                <li><a class="dropdown-item" href="#">This Month</a></li>
                <li><a class="dropdown-item" href="#">This Year</a></li>
              </ul>
            </div>
          </div>
          <div class="card-body">
            <div class="d-flex justify-content-between  mb-3">
              <div class="w-100">
                <h6>School Dashboard</h6>
                <div class="d-flex align-items-center">
                    <ngb-progressbar type="success" class="progress bg-soft-success shadow-none w-50" [value]="80" style="height: 4px"></ngb-progressbar>
                  <small class="ms-2">80% completed</small>
                </div>
                <small>Due in 3 Days</small>
              </div>
              <div class="dropdown" ngbDropdown>
                <svg  class="text-gray" id="dropdownMenuButton25"  aria-expanded="false"
                  ngbDropdownToggle width="22" height="5" viewBox="0 0 22 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M19.6788 5C20.9595 5 22 3.96222 22 2.68866C22 1.41318 20.9595 0.373465 19.6788 0.373465C18.3981 0.373465 17.3576 1.41318 17.3576 2.68866C17.3576 3.96222 18.3981 5 19.6788 5ZM11.0005 5C12.2812 5 13.3217 3.96222 13.3217 2.68866C13.3217 1.41318 12.2812 0.373465 11.0005 0.373465C9.71976 0.373465 8.67929 1.41318 8.67929 2.68866C8.67929 3.96222 9.71976 5 11.0005 5ZM4.64239 2.68866C4.64239 3.96222 3.60192 5 2.3212 5C1.04047 5 0 3.96222 0 2.68866C0 1.41318 1.04047 0.373465 2.3212 0.373465C3.60192 0.373465 4.64239 1.41318 4.64239 2.68866Z"
                      fill="currentColor" />
                  </svg>
                
                <ul class="dropdown-menu dropdown-menu-end" ngbDropdownMenu aria-labelledby="dropdownMenuButton25">
                  <li><a class="dropdown-item" href="#">This Week</a></li>
                  <li><a class="dropdown-item" href="#">This Month</a></li>
                  <li><a class="dropdown-item" href="#">This Year</a></li>
                </ul>
              </div>
            </div>
            <div class="d-flex justify-content-between  mb-3">
              <div class="w-100">
                <h6>Fashion Theme</h6>
                <div class="d-flex align-items-center">
                    <ngb-progressbar type="danger" class="progress bg-soft-danger shadow-none w-50" [value]="15" style="height: 4px"></ngb-progressbar>
                  <small class="ms-2">15% completed</small>
                </div>
                <small>Due in 4 Days</small>
              </div>
              <div class="dropdown" ngbDropdown>
                <svg ngbDropdownToggle  class="text-gray" id="dropdownMenuButton61" data-bs-toggle="dropdown" aria-expanded="false"
                    width="22" height="5" viewBox="0 0 22 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M19.6788 5C20.9595 5 22 3.96222 22 2.68866C22 1.41318 20.9595 0.373465 19.6788 0.373465C18.3981 0.373465 17.3576 1.41318 17.3576 2.68866C17.3576 3.96222 18.3981 5 19.6788 5ZM11.0005 5C12.2812 5 13.3217 3.96222 13.3217 2.68866C13.3217 1.41318 12.2812 0.373465 11.0005 0.373465C9.71976 0.373465 8.67929 1.41318 8.67929 2.68866C8.67929 3.96222 9.71976 5 11.0005 5ZM4.64239 2.68866C4.64239 3.96222 3.60192 5 2.3212 5C1.04047 5 0 3.96222 0 2.68866C0 1.41318 1.04047 0.373465 2.3212 0.373465C3.60192 0.373465 4.64239 1.41318 4.64239 2.68866Z"
                      fill="currentColor" />
                  </svg>
                
                <ul class="dropdown-menu dropdown-menu-end" ngbDropdownMenu aria-labelledby="dropdownMenuButton61">
                  <li><a class="dropdown-item" href="#">This Week</a></li>
                  <li><a class="dropdown-item" href="#">This Month</a></li>
                  <li><a class="dropdown-item" href="#">This Year</a></li>
                </ul>
              </div>
            </div>
            <div class="d-flex justify-content-between  mb-3">
              <div class="w-100">
                <h6>Sidebar Patterns</h6>
                <div class="d-flex align-items-center">
                    <ngb-progressbar type="primary" class="progress bg-soft-primary shadow-none w-50"  [value]="50" style="height: 4px"></ngb-progressbar>
                  <small class="ms-2">50% completed</small>
                </div>
                <small>Due in 2 Days</small>
              </div>
              <div class="dropdown" ngbDropdown>
                <svg class="text-gray" id="dropdownMenuButton62"  aria-expanded="false"
                  ngbDropdownToggle width="22" height="5" viewBox="0 0 22 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M19.6788 5C20.9595 5 22 3.96222 22 2.68866C22 1.41318 20.9595 0.373465 19.6788 0.373465C18.3981 0.373465 17.3576 1.41318 17.3576 2.68866C17.3576 3.96222 18.3981 5 19.6788 5ZM11.0005 5C12.2812 5 13.3217 3.96222 13.3217 2.68866C13.3217 1.41318 12.2812 0.373465 11.0005 0.373465C9.71976 0.373465 8.67929 1.41318 8.67929 2.68866C8.67929 3.96222 9.71976 5 11.0005 5ZM4.64239 2.68866C4.64239 3.96222 3.60192 5 2.3212 5C1.04047 5 0 3.96222 0 2.68866C0 1.41318 1.04047 0.373465 2.3212 0.373465C3.60192 0.373465 4.64239 1.41318 4.64239 2.68866Z"
                      fill="currentColor" />
                  </svg>
                
                <ul class="dropdown-menu dropdown-menu-end" ngbDropdownMenu aria-labelledby="dropdownMenuButton62">
                  <li><a class="dropdown-item" href="#">This Week</a></li>
                  <li><a class="dropdown-item" href="#">This Month</a></li>
                  <li><a class="dropdown-item" href="#">This Year</a></li>
                </ul>
              </div>
            </div>
            <div class="d-flex justify-content-between  mb-3">
              <div class="w-100">
                <h6>Menu Bar Update</h6>
                <div class="d-flex align-items-center">
                    <ngb-progressbar type="gray" class="progress bg-soft-gray shadow-none w-50"  [value]="35" style="height: 4px"></ngb-progressbar>
                  <small class="ms-2">35% completed</small>
                </div>
                <small>Due in 5 Days</small>
              </div>
              <div class="dropdown" ngbDropdown>
                <svg class="text-gray" id="dropdownMenuButton63"  aria-expanded="false"             ngbDropdownToggle width="22" height="5" viewBox="0 0 22 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M19.6788 5C20.9595 5 22 3.96222 22 2.68866C22 1.41318 20.9595 0.373465 19.6788 0.373465C18.3981 0.373465 17.3576 1.41318 17.3576 2.68866C17.3576 3.96222 18.3981 5 19.6788 5ZM11.0005 5C12.2812 5 13.3217 3.96222 13.3217 2.68866C13.3217 1.41318 12.2812 0.373465 11.0005 0.373465C9.71976 0.373465 8.67929 1.41318 8.67929 2.68866C8.67929 3.96222 9.71976 5 11.0005 5ZM4.64239 2.68866C4.64239 3.96222 3.60192 5 2.3212 5C1.04047 5 0 3.96222 0 2.68866C0 1.41318 1.04047 0.373465 2.3212 0.373465C3.60192 0.373465 4.64239 1.41318 4.64239 2.68866Z"
                      fill="currentColor" />
                  </svg>
                
                <ul class="dropdown-menu dropdown-menu-end" ngbDropdownMenu aria-labelledby="dropdownMenuButton63">
                  <li><a class="dropdown-item" href="#">This Week</a></li>
                  <li><a class="dropdown-item" href="#">This Month</a></li>
                  <li><a class="dropdown-item" href="#">This Year</a></li>
                </ul>
              </div>
            </div>
            <div class="d-flex justify-content-between">
              <div class="w-100">
                <h6>Blog Theme</h6>
                <div class="d-flex align-items-center">
                    <ngb-progressbar type="success" class="progress bg-soft-success shadow-none w-50"  [value]="100" style="height: 4px"></ngb-progressbar>
                  <small class="ms-2">100% completed</small>
                </div>
                <small>Due in 1 Days</small>
              </div>
              <div class="dropdown" ngbDropdown>
                <svg class="text-gray" id="dropdownMenuButton64"  aria-expanded="false"
                  ngbDropdownToggle width="22" height="5" viewBox="0 0 22 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M19.6788 5C20.9595 5 22 3.96222 22 2.68866C22 1.41318 20.9595 0.373465 19.6788 0.373465C18.3981 0.373465 17.3576 1.41318 17.3576 2.68866C17.3576 3.96222 18.3981 5 19.6788 5ZM11.0005 5C12.2812 5 13.3217 3.96222 13.3217 2.68866C13.3217 1.41318 12.2812 0.373465 11.0005 0.373465C9.71976 0.373465 8.67929 1.41318 8.67929 2.68866C8.67929 3.96222 9.71976 5 11.0005 5ZM4.64239 2.68866C4.64239 3.96222 3.60192 5 2.3212 5C1.04047 5 0 3.96222 0 2.68866C0 1.41318 1.04047 0.373465 2.3212 0.373465C3.60192 0.373465 4.64239 1.41318 4.64239 2.68866Z"
                      fill="currentColor" />
                  </svg>
                
                <ul class="dropdown-menu dropdown-menu-end" ngbDropdownMenu aria-labelledby="dropdownMenuButton64">
                  <li><a class="dropdown-item" href="#">This Week</a></li>
                  <li><a class="dropdown-item" href="#">This Month</a></li>
                  <li><a class="dropdown-item" href="#">This Year</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="card card-block card-stretch card-height">
            <div class="flex-wrap card-header d-flex justify-content-between">
                <div class="header-title">
                    <h4>Actvity Overview</h4>
                    
                </div>
            </div>
            <div class="card-body">
                <p class=" text-success mb-4">
                    <svg class ="me-2" width="24" height="24" viewBox="0 0 24 24">
                    <path fill="#17904b" d="M13,20H11V8L5.5,13.5L4.08,12.08L12,4.16L19.92,12.08L18.5,13.5L13,8V20Z" />
                    </svg>
                    16% this month
                </p>
                <div class="d-flex align-items-top">
                    <h6 class="mb-0 text-left">07:45</h6>
                    <div class="profile-media ms-3 d-flex">
                        <div class="profile-dots-pills border-success"></div>
                        <div class="ms-3">
                            <h6 class="mb-0">$2400, Purchased a Wordpress Theme</h6>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-top">
                    <h6 class="mb-0 text-left">08:50</h6>
                    <div class="profile-media ms-3 d-flex">
                        <div class="profile-dots-pills border-warning"></div>
                        <div class="ms-3">
                            <h6 class="mb-0">New order placed #8744152 of 3D Icons</h6>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-top">
                    <h6 class="mb-0 text-left">10:00</h6>
                    <div class="profile-media ms-3 d-flex">
                        <div class="profile-dots-pills border-info"></div>
                        <div class="ms-3">
                            <h6 class="mb-0">Affilate Payout</h6>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-top">
                    <h6 class="mb-0 text-left">13:15</h6>
                    <div class="profile-media ms-3 d-flex">
                        <div class="profile-dots-pills border-dark"></div>
                        <div class="ms-3">
                            <h6 class="mb-0">New user added in Qompac UI</h6>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-top">
                    <h6 class="mb-0 text-left">15:30</h6>
                    <div class="profile-media ms-3 d-flex">
                        <div class="profile-dots-pills border-success"></div>
                        <div class="ms-3">
                            <h6 class="mb-0">Product added in Wish List</h6>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-top">
                    <h6 class="mb-0 text-left">18:40</h6>
                    <div class="profile-media ms-3 d-flex pb-0">
                        <div class="profile-dots-pills border-warning"></div>
                        <div class="ms-3">
                            <h6 class="mb-0">New order Placed <span class="text-primary">#87444892</span> of Dashboard</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div> -->